@page "/about"
@using LisoTetris.Components

<PageContainer Title="About author">
    <p>Hello, I'm Lisowolf, a... programmer? I love to use new technologies so I make this game using Blazor :)
    I hope you liked it! ❤</p>
</PageContainer>