@page "/"
@using LisoTetris.Components;
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> Localize

<PageContainer Title="LisoTetris">
    <p>@Localize["Main page description"]</p>
</PageContainer>