html, body {
    font-family: 'Roboto', sans-serif;
    background: #121212;
    margin: 0;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

p {
    color: white;
    text-indent: 32px;
    text-align: justify;
}

#blazor-error-ui {
    display: none;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
}