.page-container {
    padding: 16px;
    background: #141414;
    border: 3px solid #1c1c1c;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

.page-title-container {
    width: 100%;
    padding: 16px;
    background: #121212;
    border-bottom: 3px solid #1c1c1c;
    box-sizing: border-box;
}

    .page-title-container h1 {
        font-size: 24px;
        color: #d8d8d8;
        margin: 0;
    }

.page-content-container {
    padding: 24px;
    box-sizing: border-box;
}