@inherits LayoutComponentBase

<!--All Page-->
<div>
    <!--<!--Top line container-->
    <div>
        <!--Logo-->
        <!--NavBar-->
    </div>

    <!--Main-->
    <div>
        @Body
    </div>
</div>