@using Blaztrix.Core
@using Blaztrix.Core.Enums

<!-- TODO: replace with canvas? It was laggy when I tried it... -->

@if (_displayedData != null)
{
    <div id="field-container">
        <div class="field-overlay" hidden="@(!FieldState?.IsBlocked ?? true)" />
        @for (int j = 0; j < _displayedData.GetLength(1); j++)
        {
            <div class="field-line">
                @for (int i = 0; i < _displayedData.GetLength(0); i++)
                {
                    <div class="pixel @GetPixelStyle(_displayedData[i, j])" />
                }
            </div>
        }
    </div>
}

@code {
    private PixelStates[,]? _displayedData;

    [Parameter]
    public FieldState? FieldState { get; set; }

    protected override void OnParametersSet()
    {
        if (FieldState != null)
            _displayedData = (PixelStates[,])FieldState;
    }

    private string? GetPixelStyle(PixelStates pixelState)
    {
        return pixelState switch
        {
            PixelStates.Filled => "pixel-filled",
            PixelStates.CurrentBlock => "pixel-current-block",
            _ => null
        };
    }
}