#session-container {
    display: flex;
    justify-content: center;
}

#session-info-container {
    height: 70%;
    padding: 24px;
    background: #121212;
    border-bottom: 3px solid #1c1c1c;
}

#session-control-container {
    padding: 24px;
    flex-grow: 1;
}

    #session-control-container button, #session-control-container div {
        width: 100%;
    }

#session-left-container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #session-left-container p {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24pt;
        position: absolute;
        margin: 0;
        z-index: 1;
        animation: session-display-message;
        animation-duration: .7s;
        animation-timing-function: cubic-bezier(0, 0, 0, 1);
    }

#session-right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#session-settings-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    flex-grow: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.settings-form-elements-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes session-display-message {
    from {
        opacity: 0;
        letter-spacing: 4px;
    }
}