@using Blaztrix.Services

<span class="indicator @GetStyle()">●</span>

@code {
    [Parameter]
    public CurrentState State { get; set; }

    private string GetStyle()
    {
        return State switch
        {
            CurrentState.NotInitialized => "indicator-settings",
            CurrentState.InGame => "indicator-in-game",
            CurrentState.Paused => "indicator-paused",
            CurrentState.Lost => "indicator-lost",
            _ => null,
        };
    }
}