@page "/about"

@using Blaztrix.Components
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<App> Localize

<PageContainer Title="@Localize["About author"]">
    <p>@Localize["About page description"]</p>
</PageContainer>