ul {
    height: 30px;
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    justify-content: left;
    align-items: center;
}

li {
    list-style-type: none;
    margin-left: 6px;
    margin-right: 6px;
}

::deep a {
    padding: 16px;
    text-decoration: none;
    display: block;
}

.navbar-container {
    width: 100%;
    height: 100px;
    background: #161616;
    border-bottom: 3px solid #1e1e1e;
    display: flex;
    justify-content: left;
    align-items: center;
}

.state-indicator {
    font-size: 14px;
}