@using Blaztrix.Components
@using Blaztrix.Services
@using Microsoft.Extensions.Localization

@inject BlaztrixStateContainer BlaxtrixState
@inject IStringLocalizer<App> Localize

<div class=navbar-container>
    <ul>
        <li class="button-container">
            <NavLink class="button" href="/">
                @Localize["Main"]
            </NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="/game">
                @Localize["Blaztrix"]&nbsp;<span class="state-indicator @GetStateIndicatorStyle()">●</span>
            </NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="/about">
                @Localize["About"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    protected override void OnInitialized()
    {
        BlaxtrixState.StateChanged += StateHasChanged;
    }

    private string GetStateIndicatorStyle()
    {
        return BlaxtrixState.CurrentState switch
        {
            CurrentState.NotInitialized => "state-indicator-not-initialized",
            CurrentState.InGame => "state-indicator-in-game",
            CurrentState.Paused => "state-indicator-paused",
            CurrentState.Lost => "state-indicator-lost",
            _ => string.Empty,
        };
    }
}