.field-line {
    display: flex;
}

#field-container {
    width: 435px;
    height: 435px;
    background: #121212;
    border-bottom: 2px solid #1c1c1c;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.field-overlay {
    width: inherit;
    height: inherit;
    position: absolute;
    background: #121212;
    opacity: .8;
    z-index: 0;
}