@using Tetris.Engine

@{
    <div hidden="@(displayedData == null)">
        @for (int j = 0; j < displayedData.GetLength(1); j++)
        {
            <div class="field-line">
                @for (int i = 0; i < displayedData.GetLength(0); i++)
                {
                    <PixelComponent State="displayedData[i, j]" />
                }
            </div>
        }
    </div>
}

@code {
    private PixelStates[,] displayedData;

    [Parameter] public FieldState FieldState { get; set; }

    protected override void OnParametersSet() => displayedData = (PixelStates[,])FieldState;
}