<table>
    <tr>
        <th align="left">Score: </th>
        <td align="right">@Score</td>
    </tr>
    <tr>
        <th align="left">Speed: </th>
        <td align="right">@Speed</td>
    </tr>
</table>

@code {
    [Parameter] public int Score { get; set; }
    [Parameter] public int Speed { get; set; }
}