#session-container {
    width: 650px;
    padding: 16px;
    background: #141414;
    border: 2px solid #1c1c1c;
    display: flex;
}

#session-info-container {
    height: 70%;
    padding: 24px;
    background: #121212;
    border-bottom: 2px solid #1c1c1c;
}

#session-control-container {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#session-left-container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #session-left-container p {
        position: absolute;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24pt;
    }

#session-right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}