#session-container {
    width: 650px;
    padding: 16px;
    background: #141414;
    border: 2px solid #1c1c1c;
    display: flex;
}

#session-info-container {
    height: 70%;
    background: #121212;
    border-bottom: 2px solid #1c1c1c;
    overflow: hidden;
}