#session-container {
    display: flex;
    justify-content: center;
}

#session-info-container {
    height: 70%;
    padding: 24px;
    background: #121212;
    border-bottom: 3px solid #1c1c1c;
}

#session-control-container {
    padding: 24px;
    flex-grow: 1;
}

    #session-control-container button, #session-control-container div {
        width: 100%;
    }

#session-left-container {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #session-left-container p {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24pt;
        position: absolute;
        margin: 0;
        z-index: 1;
    }

#session-right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#session-settings-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    flex-grow: 1;
}