@using Models.Tetris

<EditForm class="form" Model="settingsModel" OnValidSubmit="@ApplySettings">
    <h1>Settings</h1>
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-text-container">
        <InputNumber @bind-Value="settingsModel.Width" class="input-text" placeholder="Width" />
    </div>
    <div class="input-text-container">
        <InputNumber @bind-Value="settingsModel.Height" class="input-text" placeholder="Height" />
    </div>
    <div class=button-container>
        <input class="button" type="submit" value="Apply" />
    </div>
</EditForm>

@code {
    private SettingsModel settingsModel = new SettingsModel();

    public event Action Applied;

    public int Width { get; set; }
    public int Height { get; set; }

    private void ApplySettings()
    {
        Width = (int)settingsModel.Width;
        Height = (int)settingsModel.Height;
        Applied?.Invoke();
    }
}