@using Models.Tetris

<EditForm Model="settingsModel" OnValidSubmit="@ApplySettings">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>Width:</p>
    <InputNumber @bind-Value="settingsModel.Width" />
    <p>Height:</p>
    <InputNumber @bind-Value="settingsModel.Height" />
    <input type="submit" value="Apply" />
</EditForm>

@code {
    private SettingsModel settingsModel = new SettingsModel();

    public event Action Applied;

    public int Width { get; set; }
    public int Height { get; set; }

    private void ApplySettings()
    {
        Width = settingsModel.Width;
        Height = settingsModel.Height;
        Applied?.Invoke();
    }
}