@using Engine

@if (displayedData != null)
{
    <div id="field-container">
        <div class="field-overlay" hidden="@(!fieldState.IsBlocked)" />
        @for (int j = 0; j < displayedData.GetLength(1); j++)
        {
            <div class="field-line">
                @for (int i = 0; i < displayedData.GetLength(0); i++)
                {
                    <PixelState State="displayedData[i, j]" />
                }
            </div>
        }
    </div>
}

@code {
    private FieldState fieldState;
    private Pixel[,] displayedData;

    [Parameter]
    public FieldState FieldState
    {
        get => fieldState;
        set
        {
            fieldState = value;
            if (fieldState != null)
                displayedData = (Pixel[,])fieldState;
        }
    }
}