@using Microsoft.Extensions.Localization
@inject IStringLocalizer<App> Localize

<table>
    <tr>
        <th align="left">@Localize["Score"]: </th>
        <td align="right">@Score</td>
    </tr>
    <tr>
        <th align="left">@Localize["Speed"]: </th>
        <td align="right">@Speed</td>
    </tr>
</table>

@code {
    [Parameter]
    public int Score { get; set; }

    [Parameter]
    public int Speed { get; set; }
}