@using LisoTetris.Services
@inject TetrisStateContainer TetrisState

<div class=navbar-container>
    <ul>
        <li class="button-container">
            <NavLink class="button" href="/">Main</NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="tetris">
                Tetris &nbsp;<StateIndicator State=TetrisState.CurrentState Text="●"/>
            </NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="about">About</NavLink>
        </li>
    </ul>
</div>

@code {
    protected override void OnInitialized()
        => TetrisState.StateChanged += StateHasChanged;
}