@using LisoTetris.Services
@using Microsoft.Extensions.Localization
@inject TetrisStateContainer TetrisState
@inject IStringLocalizer<App> Localize

<div class=navbar-container>
    <ul>
        <li class="button-container">
            <NavLink class="button" href="/">
                @Localize["Main"]
            </NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="tetris">
                @Localize["Tetris"]
                &nbsp;<StateIndicator State=TetrisState.CurrentState Text="●"/>
            </NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="about">
                @Localize["About"]
            </NavLink>
        </li>
    </ul>
</div>

@code {
    protected override void OnInitialized()
        => TetrisState.StateChanged += StateHasChanged;
}