<div class=navbar-container>
    <div>
        LisoTetris
    </div>
    <div>
        <ul>
            <li>
                <NavLink href="/">Main</NavLink>
            </li>
            <li>
                <NavLink href="tetris">Tetris</NavLink>
            </li>
            <li>
                <NavLink href="about">About</NavLink>
            </li>
        </ul>
    </div>
</div>