<div class=navbar-container>
    <div>
        <h1>LisoTetris</h1>
    </div>
    <ul>
        <li>
            <NavLink href="/">Main</NavLink>
        </li>
        <li>
            <NavLink href="tetris">Tetris</NavLink>
        </li>
        <li>
            <NavLink href="about">About</NavLink>
        </li>
    </ul>
</div>