<div class=navbar-container>
    <ul>
        <li class="button-container">
            <NavLink class="button" href="/">Main</NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="tetris">Tetris</NavLink>
        </li>
        <li class="button-container">
            <NavLink class="button" href="about">About</NavLink>
        </li>
    </ul>
</div>