<div>
    <div>
        <h1>@Title</h1>
    </div>
    <div>@ChildContent</div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
 
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}