@using Microsoft.Extensions.Localization
@using Models
@inject IStringLocalizer<App> Localize

<EditForm class="form" Model="_fieldModel" OnValidSubmit="@ApplySettings">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-text-container">
        <InputNumber @bind-Value="_fieldModel.Width" class="input-text" placeholder="@Localize["Width"]" />
    </div>
    <div class="input-text-container">
        <InputNumber @bind-Value="_fieldModel.Height" class="input-text" placeholder="@Localize["Height"]" />
    </div>
    <div class=button-container>
        <input class="button" type="submit" value="@Localize["Apply"]" />
    </div>
</EditForm>

@code {
    private BlaztrixFieldModel _fieldModel = new BlaztrixFieldModel();

    public EventCallback Applied { get; set; }

    public int Width { get; set; }

    public int Height { get; set; }

    private void ApplySettings()
    {
        Width = (int)_fieldModel.Width;
        Height = (int)_fieldModel.Height;
        Applied.InvokeAsync();
    }
}